/* INDEX STYLE */

body {
    margin: 0;
    background-color: #22272d;
    color: #cdd9e5;
}

nav {
    background-color: #2c333b;
    height: 4rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

header { 
    margin-top: 4rem;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

main {margin-bottom: 4rem;}

hr {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

input {
    width: 80%;
    margin-left: 1.5rem;
}


/* CLASS SELECTORS */


.demo-group {
    margin-top: 3rem;
    margin-left: 2rem;
}

.demo {
    padding: 7.5px;
    padding-bottom: 25px;
    width: 85%;
    border: solid;
    border-color: #cdd9e5;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.375rem;
}

.demo a i {
    color: #2c333b;
}

.demo a i:hover{
    color: gray;
    cursor:pointer;
}

.snip-btn {
    /* margin: 1rem 0 1rem 2.5rem; */
    margin-left: -50px;
}

.snip-btn a:hover {
    color: gray;
}

.paste-demo {
    width: 85%;
    height: 10rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.navbar-bottom {
    margin-top: 4rem;
    text-align: center;
    height: 5rem;
    background-color: #2c333b;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* W3 DEMO II */

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }