/* INDEX STYLE */

body {
    margin: 0;
    background-color: #22272d;
    color: #cdd9e5;
}

nav {
    background-color: #2c333b;
    height: 5rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

header {
    margin: 2rem auto 0;
    width: 80%;
}

header h3 {
    text-align: center;
}

header p {
    margin-top: 2rem;
}

header img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin: 0 auto;
}


hr {
    width: 80%;
    margin: 0 auto;
}

main {margin-top: 3rem;}

main hr {
    width: 100%;
    margin: 1rem 0;
}

footer {
    height: 15rem;
    background-color: #2c333b;
}

footer a {
    color: #cdd9e5;
    text-decoration: none;
    margin: 0 3rem;
}

footer a:hover {
    color: #22272d;
}




/* CLASS SELECTORS */

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.main-tent {
    width: 80%;
    text-align: left;
    margin: 0 auto 1.5rem;
    
}

.card {
    background-color: #2c333b;
    margin: 2rem auto;
    padding: 1rem 1rem;
    width: 750px;
    border: solid;
    border-color: #cdd9e5;
    /* position: absolute; */
}

.card-title {margin-left: 1rem;}
.card-body {margin-left: 1.25rem;}

.card a{
    color: #cdd9e5;
    text-decoration: none;
}


.foot-top {
    text-align: center;
    padding-top: 2rem;
}

.foot-links {
    padding-top: 4rem;
    font-size: 40px;
    text-align: center;
}




/* MEDIA QUERY  */
@media only screen and (max-width: 1024px) {

    /* body {
      background-color: lightblue;
    } */


  }