# = = = = = = = = = = = = = = = = = = = = 
#     = - =  [ GIT IGNORE ]  = - =  
# = = = = = = = = = = = = = = = = = = = = 

# .vscode

/.vscode
.vscode


# Assets

/src/root/assets
src/root/assets


# = = = = = = = = = = = = = = = = = = = = = = = = = = =