<!DOCTYPE html>
<html lang="en">
<head>
    <!-- [ META DATA] -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- [ LOCAL STYLE ] -->
    <link rel="stylesheet" href="./src/root/styles.css">
    <!-- [ FAV-ICON ] -->
    <link rel="icon" href="./src/root/Anchor.webp" type="image/png">
    <!-- [ PAGE TITLE ] -->
    <title>Dev Dock</title>
</head>

<body>

    <nav>
        <div class="navHeader">

            <div class="headImg"></div>

            <h2>Dev-Dock</h2>

        </div>
    </nav>


    <article>
        <div id="banner" class="banner">


            <h3>Dev Components</h3>

            <h4>Bootstrap</h4>
            <h4>Vanilla</h4>

        </div>
    </article>


    <main>
        <div id="bootstrap" class="bootstrap">

            <h3>Bootstrap Components</h3>

            <p>

                <a href="./src/Components/Bootstrap/footer.html" target="_blank">
                    <button>Footer</button>
                </a>

                <button>Button</button>
                <button>Button</button>
                <button>Button</button>
            </p>


        </div>
    </main>


    <main>
        <div id="vanillaPro" class="vanillaPro">

            <h3>Vanilla Components</h3>

            <p>
                <button>Button</button>
                <button>Button</button>
                <button>Button</button>
                <button>Button</button>
            </p>


        </div>
    </main>


    <footer>
        <div id="footer" class="footer">

        </div>
    </footer>


</body>
</html>