* {
    box-sizing: border-box;
    margin: 0;
}

.navBar {
    height: 5rem;
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar a{
    text-decoration: none;
    color: white;
}

.banner {
    margin: 4rem auto;
    border: solid 1px #212121;
    width: 60%;
    padding: 2rem 3rem;
    border-radius: 15px;
    text-align: center;
}

.card {
    /* border: 1px solid #b2babb; */
    width: 25rem;
}

h2, h5 {
    text-align: center;
}

.card-img-top{
    height: 225px;
}

.card-footer {
    text-align: center;
}

.card-footer a {
    font-size: 38px;
    color: #717171;
}

.card-footer a:hover {
    color: #949494;
}

.float-end {
    margin-top: 25px;
}

.float-end a{
    color: gray;
}

.foot-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.foot-icons a{
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    text-decoration: none;
}