/* [ DARK MODE STYLE SHEET ] */

.dark-mode {
    background-color: #22272d;
    color: #cdd9e5;
}


.dark-mode main {
    background-color: #2c333b;
}


.dark-mode .modal-content {
    background-color: #22272d;
    color: #cdd9e5;
}

.dark-mode .banner button {
    color: #cdd9e5;
    /* background-color: #22272d; */
    background-color: #2c333b;
    border-color: #cdd9e5;
}

.dark-mode .banner button:hover {
    color: #000;
    background-color: #cdcdcd;
    border-color: #cdd9e5;
}

.dark-mode main h2 {
    border-bottom: solid 1px #cdd9e5;
}


.dark-mode .nav-tools button {
    background-color: #353535;
    color: #e7e7e7;
}


.dark-mode .nav-tools button:hover {
    background-color: #e7e7e7;
    color: #353535;
}


.dark-mode .book {
    border: solid 1px #e7e7e7;
}


/* [ END OF STYLE SHEET ] */