<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- Links -->
    <link rel="stylesheet" href="/Components/blogstyles.css">
    <script src="/Components/scripts.js"></script>
    <!-- Title -->
    <title>Joni Blog</title>
</head>


<body>

  <!-- NavBar -->
  <div class=navBar>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="https://www.google.com">Google</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <!-- Drop Down Menu 1 -->
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Links</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="https://getbootstrap.com/docs/5.0/components/navbar/">NavBar</a></li>
                    <li><a class="dropdown-item" href="https://developer.mozilla.org/en-US/">MDN</a></li>
                    <li><a class="dropdown-item" href="https://www.w3schools.com/default.asp">W3 Schools</a></li>
                    <li><a class="dropdown-item" href="https://stackoverflow.com/">Stack Overflow</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="https://code.visualstudio.com/">VS Code</a></li>
                  </ul>

                  <!-- Drop Down Menu 2 -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      References</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="https://github.com/joni3187">GitHub</a></li>
                      <li><a class="dropdown-item" href="https://https://aws.amazon.com/s3/">AWS S3</a></li>
                      <li><a class="dropdown-item" href="https://getbootstrap.com/">Bootstrap</a></li>

                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="https://admissions.emeritus.org/student/login">Emeritus</a>
                      </li>                    
                    </ul>
                  </li>
              </ul>
              <a href="/index.html" class="btn btn-outline-success">Home</a>
            </div>
          </div>
        </nav>
  </div>

  <div class="body20">

    <div class="row">
      <!-- Card 1: Blog Entries -->
      <div class="col-sm-6" style="max-width: 28em;">
          <div class="card border-dark">
              <div class="card-body" style="background-color: darkgray;">
                  <h5 class="card-title" style="text-align: center;">Blog Entries</h5>
                  <p class="card-text">
                      Have Button Generate entries to Card on the Right.<br><br>
                      Will need to center buttons on Card.<br><br>
                  </p>
                  <a href="#" class="btn btn-primary btn-outline-dark">#001</a>
                  <a href="#" class="btn btn-primary btn-outline-dark">#002</a>
                  <a href="#" class="btn btn-primary btn-outline-dark">#003</a>
                  <a href="#" class="btn btn-primary btn-outline-dark">#004</a>
                  <a href="#" class="btn btn-primary btn-outline-dark">#005</a><br><br>
                  <a href="#" class="btn btn-primary btn-outline-dark">#006</a>
                  <a href="#" class="btn btn-primary btn-outline-dark">#007</a>
                  <a href="#" class="btn btn-primary btn-outline-dark">#008</a>
                  <a href="#" class="btn btn-primary btn-outline-dark">#009</a>
                  <a href="#" class="btn btn-primary btn-outline-dark">#010</a><br><br>
                  <a href="#" class="btn btn-primary btn-outline-dark">#011</a>
                  <a href="#" class="btn btn-primary btn-outline-dark">#012</a>
                  <a href="#" class="btn btn-primary btn-outline-dark">#013</a>
                  <a href="#" class="btn btn-primary btn-outline-dark">#014</a>
                  <a href="#" class="btn btn-primary btn-outline-dark">#015</a><br><br>
              </div>
          </div>
      </div>


      <!-- Card 2: Blog Entry Content -->
      <div class="col-sm-6">
          <div class="card border-dark">
              <div class="card-body" style="background-color: darkgray;">
                  <h5 class="card-title" style="text-align: center;">Blog Entry ${#001}</h5>
                  <p class="card-text">
                  Generate content from blog entry - i.e. button on the left.<br><br>
                  Will need to use javascript to generate functions to pull content from submissions.
                  
                  <p>Lorum Ipsum<br>
                  Whatever waistcoat put a bird on it chicharrones food truck humblebrag bicycle rights af echo park sriracha narwhal occupy salvia coloring book YOLO. Scenester poke organic, polaroid iceland next level iPhone letterpress synth. Austin banjo jean shorts thundercats. Knausgaard schlitz normcore jianbing edison bulb put a bird on it church-key glossier readymade shoreditch truffaut skateboard. Brunch vaporware cornhole williamsburg af. Cold-pressed cray kombucha tousled craft beer shoreditch polaroid copper mug normcore blue bottle bushwick.<br><br>

                  YOLO hoodie artisan, readymade drinking vinegar squid irony offal before they sold out lomo cred slow-carb godard chambray. Brooklyn direct trade readymade microdosing palo santo everyday carry literally raw denim distillery tacos gluten-free. Forage edison bulb waistcoat, 90's distillery dreamcatcher next level bitters gluten-free polaroid skateboard meditation activated charcoal. Irony vape franzen, paleo green juice distillery hashtag ennui readymade bitters gentrify tumblr. Shaman messenger bag PBR&B trust fund flannel. Meggings biodiesel deep v, keytar butcher twee subway tile wolf slow-carb.
              </div>
          </div>
      </div>
  </div>

        
    <!-- Blog-Card Entry 001 Placeholder until JS function completed to utilize button functions-->
    <!--
    <div class="bodyblog">
        <div class="col-sm-6">
            <div class="card border-dark mb-5">
                <div class="card-body" style="background-color: darkgray;">
                    <h5 class="card-title5">Web Development Blog</h5>
                    10/14/21:<br>
                    Hello World! This is my first entry for my Web Dev Blog.</p>
                    Here I would like to document my journey through my full stack web development
                    education and career.<br></p>
                    Today is week 30 of my 10 month MIT xPRO Full Stack Development Course, our last week of new material before out third Capstone project. 
                </div>
            </div>
        </div>
    </div>
    -->
    <br><br><br><br><br>
  </div>
  <!-- JavaScript Bundle with Popper - NavBar Functionality -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" 
  crossorigin="anonymous">
  </script>

  
</body>
</html>