/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    /* =-=-=-=-=-=-=-=-= [ GOOGLE FONTS ] =-=-=-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    /* =-=-=-=-=-=-=-=-= [ CSS VARIABLES ] =-=-=-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

:root {
    /* COLORS */
    --body-color: #EBEBEB;
    --body-text: #0B0A0A;

    /* --text-color: #403A3A; */
    /* --text-color-light: #707070; */
    /* --container-color: #FAFAFA; */
    /* --container-color-alt: #F0EFEF; */

    /* FONT & TYPOGRAPHY */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /* FONT WEIGHT */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* MARGINS */
    --mb-0: 0;
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    /* =-=-=-=-=-=-= [ UNIVERSAL SELECTOR ] =-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

* {
    margin: var(--mb-0);
    box-sizing: border-box;
}

body {
    background-color: var(--body-color);
    color: var(--body-text);
    font-family: var(--body-font)
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    /* =-=-=-=-=-=-= [ NAV BAR ] =-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* NAV BAR */
nav {
    text-align: center;
    display: flex;
    padding: 1rem 0;
}

nav h2 {
    font-size: 38px;
    margin-left: 3%;
}

/* MENU BUTTON */

.mod-btn {
    position: absolute;
    left: 92%;
    height: 40px;

    border: 2px solid #353535;
    background-color: #e7e7e7;
    border-radius: 5px;
    padding: 0 1rem;
    font-size: 18px;
    cursor: pointer;
}

.mod-btn:hover {
    background-color: #404040;
    color: #fff;
    border: 2px solid #000;
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    /* =-=-=-=-=-=-= [ BANNER ] =-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

article {
    width: 80%;
    margin: 1rem auto;
}

.banner {
    text-align: center;
    padding: 3rem 0 4rem;
}

.banner h2 {
    width: 80%;
    margin: 0 auto 2rem;
    font-size: 50px;
}

.banner p {
    width: 80%;
    margin: 0 auto 2rem;
    font-size: 20px;
}

.banner button {
    font-size: 18px;
    border-radius: 5px;
    padding: 12px;
    border: 2px solid #353535;
    cursor: pointer;
    background-color: #e7e7e7;
}

.btn-icon {
    font-size: 15px;
    /* padding-left: 10px; */
}

.banner button:hover {
    background-color: #404040;
    color: #fff;
    border: 2px solid #000;
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    /* =-=-=-=-=-=-= [ MODAL POP-UP ] =-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* Add this to your existing CSS */
body.modal-open {
    overflow: hidden;
}


.modal {
    /* Overlay background */
    background-color: rgba(0, 0, 0, 0.4); 
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    background-color: #fefefe;
    /* margin: 8% auto; */
    margin: 5rem auto 0;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #000;
}

.modal h3 {
    margin-bottom: 1.5rem;
}


.li-items {
    list-style-type: none;
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
}

.li-items li {
    margin: 1rem 0;
}
.li-toc {
    font-size: 25px;
}

.modal-content h3 {
    font-size: 30px;
}

.modal-links {
    font-size: 15px;
}

.close {
    /* position: absolute; */
    position: fixed;
    margin-left: 25%;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    border: solid 2px #000;
    padding: 0 12px;
    border-radius: 5px;
    background-color: #616161;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
  

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    /* =-=-=-=-=-=-= [ SIDE NAV BAR TOOLS ] =-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */


.nav-tools {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}
  
.nav-tools button {
    margin-bottom: 18px; /* Adjust as needed for spacing between buttons */
    border-radius: 5px;
    cursor: pointer;
    /* padding: 2px; */
}

.nav-tools button i {
    font-size: 28px;
    padding: 3px 2px;
}

.nav-tools button:hover {
    background-color: #353535;
    color: #e7e7e7;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in.active {
    opacity: 1;
}   

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    /* =-=-=-=-=-=-= [ MAIN CONTENT ] =-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

main {
    width: 85%;
    margin: 2rem auto;
    padding: 2rem 2rem 1rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
    background-color: #FCFCFC;
    border-radius: 15px;
}

main h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 30px;
    border-bottom: solid 1px #000;
    border-width: 40%;
}

.title-bar {
    margin-bottom: 1rem;
    font-size: 25px;
    /* font-weight: bold; */
    font-weight: bolder;
}

.icon {
    font-size: 50px;
}

.card-content {
    margin-bottom: 1.25rem;
    margin-left: 2rem;
    font-size: 18px;
}

.card-content li {
    margin: .75rem 0;
    font-size: 22px;
}

.card-point {
    margin-bottom: 0.5rem;
    font-size: 25px;
}


.books {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.25rem;
    margin-left: 2rem;
    font-size: 18px;
}

.book {
    width: 14rem;
    border: solid 1px #000;
    border-radius: 15px;
}

.book img {
    border-radius: 15px 15px 0 0;

    width: 100%;
    height: 10rem;
}

.book h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#video iframe {
    width: 50rem;
    height: 25rem;
}

.video-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* [ CONTENT STYLES ] */

#features {
    margin: 4rem auto 0;
    width: 70%;
}

.featurette {
    background-color: #f5f1f1;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
    /* border: 1px solid #2C333B; */
}


.card-img-top {
    height: 350px;
    border-radius: 25px;
}

.card-img-top-contentI {


}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    /* =-=-=-=-=-=-= [ MEDIA QUERIES ] =-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */


/* For small devices, menu two columns */

@media screen and (max-width: 400px) {


}

/* Classes modified for large screen size */

@media screen and (min-width: 968px) {

}


/* ====================================================================== */
    /* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
        /* =-=-=-=-=-=-= [ END OF STYLE SHEET ] =-=-=-=-=-=-= */
    /* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* ====================================================================== */