/* MEDIA QUERIES STYLE  */


body {
    padding: 30px;
    margin: 30px;
    background: #202020;


}


header {}


nav {}

section {}



/* MEDIA QUERIES  */

/* @media print {
    body {
        background: white;
    }
} */

