


@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}



nav {
    text-align: center;
    background-color: aqua;
    padding: 15px 0;
}




nav h2 {
    font-size: 55px;
    font-family: Mooli;
}